.sidebar {
  top: 0;
  height: 100vh;
  position: sticky;

  div:first-child {
    height: 50%;
    overflow: scroll;
  }
}

.listHeader {
  top: 0;
  position: sticky;
  z-index: 2;
  border-bottom: 1px solid lightskyblue;
}

.listItem {
  border-bottom: 1px solid salmon;
}

.unorderedList {
  border-left: 1px solid lightskyblue;
  border-right: 1px solid lightskyblue;
}

.footer {
  bottom: 0;
  position: sticky;
  height: 10vh;
  background: #fff;
  border-top: 1px solid blueviolet;
}

.player {
  border-top: 1px solid brown;
}

.playerSectionTop {
  border-bottom: 1px solid lightgray;
}

.trackNotes {
  font-size: 0.65rem;
}
